<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link Home" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Account</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Sign In</a></li>
      <li><a class="dropdown-item" href="#">Sign Up</a></li>
    </ul>
  </li>
</ul>
